name: flutter_jailbreak_detection_example
description: Demonstrates how to use the flutter_jailbreak_detection plugin.
author: Jeroen Trappers <jeroen@appmire.be>
homepage: https://github.com/jeroentrappers/flutter_jailbreak_detection

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_jailbreak_detection:
    path: ../

flutter:
  uses-material-design: true
